body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container {
    width: 80%;
    display: grid;
    grid-template-areas:
        "logo nav1"
        "nav2 nav2"
        "main main"
        "book book"
        "reviews reviews"
        "user find"
        "footer footer";
    grid-gap: 10px;
    margin-top: 20px;
}
header {
    grid-area: logo;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#nav1 {
    grid-area: nav1;
    justify-self:end;
}

#nav1 ul {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 15px;
}
#nav2 {
    grid-area: nav2;
    justify-self:flex-end;
    gap: 10px;
}

#nav2 .botton button{
    background: #007bff;
    height: 40px;
    padding-inline: 30px;
    margin-right: 10px;
    color: white;
}
.header2{
    grid-area: nav2;
    align-items:start;
}
#separacion{
    grid-area: main;
    gap: 0%;
}
.promo {

    text-align: center;
    width: 55%;
    margin-right: 20px ;
    float: left;
}
.promo nav {
    margin-bottom: 5px;
    height: 200px;
    background-color: rgb(202, 206, 240);
    margin-left: auto;
    margin-right: 10px;
    border: solid 1px black;
}
.promo-items {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
}
.promo-items button {
    padding: 10px;
    background: #007bff;
    color: white;
    border: 1px solid black ;
    cursor: pointer;
}

.book-now {
    grid-area: book;
    background: #e0e0e0;
    padding: 12px;
    text-align: start;
    border: 1px solid black ;
  
}
.book-now form {
    display: flex;
    flex-direction: column;
    gap: 10px;

}
.book-now button{
align-self: flex-end;
}
#container2{
    display: flex;             
    flex-direction: row;     
    width: 100%; 
    justify-items: start;       
}
.film-reviews {
    grid-area: reviews;
    background: #d0d0d0;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

.now-showing{
    gap: 10px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    text-align: end;
}
.film-reviews .film-box {
    background: white;
    align-items: flex-start;
    margin-top: 10px;
    height: 80px;
    width: 330px;

}
.film-box p{
    text-align:center;
}
.user-goal {
    grid-area: user;
    background: #c0c0c0;
    padding: 10px;
}
.find-cinema {
    grid-area: find;
    background: #b0b0b0;
    padding: 10px;

}
.find-cinema form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.find-cinema button{
    align-self: flex-end;
}
.film-reviews,.user-goal,.find-cinema {
    width: 50%;
    margin: 10px;
    padding: 10px;
    border: 1px solid black ; 
    background-color: #d0d0d0 ;

}
footer{
    background-color: #007bff;
    width:100%;
    height: 80px;
    display: flex;
    flex-direction: column;
    border: solid 1px black;
    margin-top: 10px;
    grid-area: footer;
    text-align: center ;
}

